div{
	background-color: blue;
}
.firstNode{
background-color: blue;
  background-image:url('chrome://zotero/skin/icon_first_node.png');
}

.node{
  background-color: red;
  background-image:url('chrome://zotero/skin/icon_first_node.png');
}

