/* general styles ----------------------- */
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
}
h3 {
	font-weight:bold;
	margin:15px 0 5px 0;
}
.audio-container {
	padding:10px 10px 10px 15px;
	font-size:85%;
}
/* player ui container styles -------------- */
#player-ui-container {
	margin-bottom:20px;
}
#player-ui-container div {
	margin-bottom:8px;
}
div.player-ui-pause, div.player-ui-play {
	width:38px;
	height:23px;
	text-indent:-9999px;
	float:left;
	margin-right:5px;
}
.player-ui-pause {
	background:url('chrome://zotero-content/skin/images/annotate-audio-pause.png') no-repeat;
}
.player-ui-pause:hover {
	background:url('chrome://zotero-content/skin/images/annotate-audio-pause-hover.png') no-repeat;
}
.player-ui-play {
	background:url('chrome://zotero-content/skin/images/annotate-audio-play.png') no-repeat;
}
.player-ui-play:hover {
	background:url('chrome://zotero-content/skin/images/annotate-audio-play-hover.png') no-repeat;
}
.player-ui-nowplaying {
	height:24px;
	width:500px;
	background:url('chrome://zotero-content/skin/images/annotate-audio-songnamebkgd.gif') repeat-x;
	float:left;
}
.player-ui-song-name {
	padding:3px;
	font-style:italic;
}
.player-ui-load {
	clear:both;
}
.player-ui-loaded, .player-ui-size {
	font-weight:bold;
	letter-spacing:.25px;
	padding:0 3px;
}
#player-ui-container div.player-ui-volcontrol, #player-ui-container div.player-ui-seekcontrol {
	margin-bottom:3px;
}
/* time-marker-container styles --------- */
table {
	border-collapse:collapse;
}
table,th, td {
	border: 1px solid #a8a8a8;
}
th {
	height:20px;
	padding:2px 4px;
	background:url('chrome://zotero-content/skin/images/annotate-audio-songnamebkgd.gif') repeat-x;
}
td {
	padding:2px 4px;
}
/* misc styles --------------------------- */
#player { /* hide the player */
	height: 0; 
	width: 0; 
	position: absolute; 
	top: 0; 
	left: 0;
}
#mark-range {
  margin-bottom: 4em;
}
#player-ui-new-volume{
    width: 400px;
}
#player-ui-seek{
    width: 400px;
}
